@import '@ionic/angular/css/core.css';

.rules-container {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;

    h5 {
        color: var(--ion-text-color);
        margin: 0;
    }
    ul {
        margin: 10px 0;
        padding: 0 20px;
    }
    li {
        margin-bottom: 10px;
    }
    .rule-section {
        margin-bottom: 20px;
        padding: 20px;
        background-color: var(--ion-color-light-tint);
    }
}
