div.number {
    width: 100%;
    height: 100%;
    font-size: 24px;
    display: flex;
    border: 1px solid #000;
    div{
        margin: auto;
    }
    cursor: pointer;
}
div.readonly{
    background-color: rgb(237, 234, 234);
    cursor: default;
}
div.editable{
    background-color: white;
}
div.set-number{
    font-weight: bolder;
}
div.picked{
    background-color: rgb(192, 241, 166);
}
div.selected{
    background-color: #3881ffbe;
}
div.isInvalid{
    background-color: #ff4538be;
}
div.is-invalid-selected{
    background-color: #ff3838;
}