@import '@ionic/angular/css/core.css';

div.number {
    width: 100%;
    height: calc((100vw - 40px)/9);
    max-height: calc(500px/9);
    font-size: 24px;
    display: flex;
    border: 1px solid var(--ion-color-dark-shade);
    div{
        margin: auto;
    }
    cursor: pointer;
}
div.readonly{
    background-color:rgba(var(--ion-color-medium-rgb, 0, 0, 0), 0.5);
    cursor: default;
}
div.editable{
    background-color: var(--ion-background-color);
}
div.set-number{
    font-weight: bolder;
}
div.picked{
    background-color: var(--ion-color-success);
}
div.selected{
    background-color: var(--ion-color-primary);
}
div.isInvalid{
    background-color: var(--ion-color-warning-shade);
}
div.is-invalid-selected{
    background-color:var(--ion-color-danger-tint);
}