<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Game Options</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item button (click)="menuItemClickHandler('NewGame')" class="menuitem">
        <ion-icon slot="start" name="game-controller"></ion-icon>
        <ion-label>New Game</ion-label>
      </ion-item>
      <ion-item button (click)="menuItemClickHandler('RestartGame')" class="menuitem">
        <ion-icon slot="start" name="refresh-circle"></ion-icon>
        <ion-label>Restart</ion-label>
      </ion-item>
      <ion-item button *ngIf="isMobilePlatform()" (click)="menuItemClickHandler('Exit')" class="menuitem">
        <ion-icon slot="start" name="exit"></ion-icon>
        <ion-label>Exit</ion-label>
      </ion-item>
      <!-- Add more items here -->
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Sudoku Quest - Puzzle Game</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title size="large">Sudoku Quest - A Math Puzzle Game</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="board-container">
      <div class="board-header">
        <div><ion-label>Game Level: {{gameComplexityName}}</ion-label></div>
        <div>
          <ion-button id="open-rules-modal" class="link-style">
            <fa-icon [icon]="faCircleInfo"></fa-icon>&nbsp;Rules
          </ion-button>
        </div>
      </div>

      <app-sudoku-board [readonly]=false></app-sudoku-board>

      <div class="timer-container">
        <div>
          <ion-button class="link-style" id="show-solution-modal">
            <fa-icon [icon]="faWandSparkles"></fa-icon>&nbsp;Solution
          </ion-button>          
        </div>
        <ion-label>Timer: {{time}}</ion-label>
        <div>
          <ion-button class="link-style" (click)="clearSelection()">
            <fa-icon [icon]="faEraser"></fa-icon>&nbsp;{{anyCellSelected()?"Clear":"Clear All"}}
          </ion-button>
        </div>
      </div>

      <app-sudoku-number-picker></app-sudoku-number-picker>
    </div>
    <ion-modal trigger="open-rules-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button class="back" (click)="cancel()">
                <ion-icon size="large" name="arrow-back"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>Sudoku Playing Rules</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-playing-rules />
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal trigger="show-solution-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button class="back" (click)="cancel()">
                <ion-icon size="large" name="arrow-back"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>Sudoku Game Solution</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="board-container">
          <app-sudoku-board [readonly]=true></app-sudoku-board>
        </div>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-action-sheet [isOpen]="isActionSheetOpen" header="Choose Game Complexity Level" [buttons]="actionSheetButtons"
      (didDismiss)="startNewGame($event)"></ion-action-sheet>
  </ion-content>
</div>
<!-- <audio id="click-sound" src="assets/click.wav" preload="auto"></audio>
<audio id="game-sound" src="assets/game-sound-track.mp3" preload="auto"></audio> -->