@import '@ionic/angular/css/core.css';

.home-container{
  // background-color: var(--ion-color-primary);
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 50px 20px;
}
.img-container{
  width: 50%;
  max-width: 400px;
  border: 5px solid var(--ion-color-warning);
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.btn{
  width: 100%;
  max-width: 300px;
  margin: 0px 20px 20px 20px;
}